Source: elj-base
Section: misc
Priority: optional
Maintainer: Jakub Vaněk <linuxtardis@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Homepage: https://github.com/ev3dev-lang-java/openjdk-system
Vcs-Git: https://github.com/ev3dev-lang-java/openjdk-system.git
Vcs-Browser: https://github.com/ev3dev-lang-java/openjdk-system

Package: elj-base
Architecture: all
Depends: java8-runtime-headless, java-common, bash (>= 4.4), ${misc:Depends}
Description: ev3dev system integration for ev3dev-lang-java
 This package provides basic integration of ev3dev-lang-java
 with debian and ev3dev menu.
